
html, body {
  height: 100%;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.flex-items {
  border: solid 1px black;
  border-radius: 5px;
}

.border {
  margin-top:3%;
  border: solid 1px black;
  border-radius: 5px;
}

.scrollble {
  height: 400px;
  overflow: auto;
}

.m-top-2 {
  margin-top:2%;
}